body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #f0e68c; /* couleur kaki */
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
